@font-face {
  font-family: "AvenirBlack";
  src: url("../font/AvenirLTStd-Black.otf");
}
@font-face {
  font-family: "AvenirMedium";
  src: url("../font/AvenirMedium.ttf");
}

body,
* {
  font-family: "AvenirMedium", sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
